matplotlib
pyecharts
scrapy
jieba
appdirs==1.4.4
asgiref==3.5.0
beautifulsoup4==4.10.0
black==22.1.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
cssselect==1.2.0
Django
django-cors-headers==3.11.0
django-simpleui==2022.2
fake-useragent==0.1.11
idna==3.3
importlib-metadata==4.11.0
lxml==4.8.0
mypy-extensions==0.4.3
parse==1.19.0
pathspec==0.9.0
platformdirs==2.5.0
pycodestyle==2.8.0
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
pytz==2021.3
requests
requests-html==0.10.0
simplejson
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
typed-ast==1.5.2
typing_extensions==4.5.0
urllib3==1.26.8
w3lib==1.22.0
websockets==10.1
zipp==3.7.0
numpy
tensorflow
keras
pandas